<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">


    <title>Контакты</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-2 section-left">
            <div class="section-left__header">
                <p>Меню</p>
            </div>
            <div class="underscore"></div>
            <div class="section-left__content">
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><a href="/catalog">Каталог</a></li>
                    <li><a href="/category">Категория</a></li>
                    <li><a href="/orders">Заказы</a></li>
                    <li><a href="/contact">Контакты</a></li>
                </ul>
            </div>
        </div>
        <div class="col-10 section-right">
            <div class="section-right__header">
                <h1>Контакты</h1>
            </div>
            <div class="contact">
                <div class="contact-form w-50">
                    <form action="/" method="post">
                        <div class="mb-3">
                            <label for="username" class="form-label">Имя</label>
                            <input name="username" type="text" class="form-control" id="username"
                                   placeholder="Ваше имя ...">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Почта</label>
                            <input name="email" type="email" class="form-control" id="email"
                                   placeholder="name@example.com">
                        </div>
                        <div class="mb-3">
                            <label for="message" class="form-label">Сообщение</label>
                            <textarea name="message" class="form-control" id="message" rows="3"></textarea>
                        </div>
                        <div class="mb-3 d-flex">
                            <button class="btn btn-primary" type="submit">Отправить</button>
                            <div class="secure">
                                <div>(тут потом будет капча)</div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="contact-description w-50">
                    <h2 class="">Наши контакты</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium amet aperiam
                        culpa eaque eos ex illo ipsam ipsum molestiae molestias nemo, neque quasi quidem, quis
                        recusandae temporibus totam velit! Ab beatae, delectus dolor doloribus error esse, hic ipsa
                        ipsam iusto necessitatibus nemo nobis obcaecati pariatur provident quaerat, voluptatem
                        voluptatum! Harum, recusandae?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                </div>
            </div>


        </div>
    </div>
</div>
<script src="/assets/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="/assets/js/main.js" crossorigin="anonymous"></script>


</body>
